h1{

    color: rgb(12,113,234);
    background-color: yellow;
}
div{
    border: 2px solid red;
    height: 75px;
}
button{
    color:black;
    border: 4px solid lime;
    border-radius: 10%;
    background-color: blue;
}
body{
    /* background-color: black; */
    /* border: 10px solid ; */
}

button:hover{
    background-color: lime;
    color: white;
}
button:active{
    color: pink;
    background-color: hotpink;
    border: 4px solid hotpink;
}
input[type= "radio"]:checked +label{
    color: red;
    font-weight: bolder;
}

.post:nth-of-type(2n){
    background-color: lime;
    border: yellowgreen;
    border-radius: 20px;
    text-align:center;
}